* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-wrap: wrap;
}

/* Header */

header {
  background-color: rgb(84, 208, 224);
  background-image: url("https://images.unsplash.com/photo-1625834384234-fd4eb7fe121f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
}

.logo {
  color: #242521;
  display: flex;
  font-size: 2.5rem;
  margin: 3rem;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 1rem;
}

header ul li a {
  color: #242521;
  font-size: 1.25rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(61, 230, 213);
  padding: 0.6rem;
  border-radius: 5px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 2.125rem;
  padding: 14rem;
}

.bg {
  background-color: #333333;
}

.bg a {
  color: rgb(197, 236, 238);
}

.bg .logo {
  color: rgb(197, 236, 238);
}

/* .hero::after {
  content: "";
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
} */

/*Body*/

section,
footer {
  scroll-margin-top: 5rem;
}

#Projects {
  margin: 1rem;
  padding: 1rem 1rem 0;
}

h3 {
  color: #26c9e6;
  text-align: left;
  font-size: 1.375rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.container_projects {
  padding: 1rem;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  line-height: 1.25rem;
  color: rgb(197, 236, 238);
  font-size: 1.25rem;
  border: 2px solid #035361;
  border-radius: 5px;
}

h4 {
  color: #26c9e6;
  margin-bottom: 1rem;
}

.container_projects a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1rem;
}

.container_projects img {
  margin-bottom: 2rem;
  max-height: 14rem;
  width: auto;
}

.p_card {
  margin-bottom: 1rem;
}

.container_about_me {
  background-color: rgb(73, 75, 75);
  padding: 1rem;
  margin: 1rem;
  max-width: 200rem;
  font-size: 1.25rem;
  color: rgb(197, 236, 238);
}

.class_about_me {
  display: flex;
}

.img4 {
  max-height: 15.625rem;
  width: auto;
  float: right;
  display: block;
  margin-left: 2rem;
}

.container_skills {
  padding: 1rem;
  margin: 1rem;
  max-width: 200rem;
  font-size: 1.25rem;
  color: rgb(197, 236, 238);
}

.skills_all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 20%; */
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  line-height: 1.25rem;
  color: rgb(197, 236, 238);
  font-size: 1.25rem;
  border: 2px solid #035361;
  border-radius: 5px;
  width: 14rem;
}

.skills_all i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress_bars {
  background-color: grey;
  width: 80%;
  border-radius: 10px;
}

.progress {
  background-color: rgb(104, 243, 104);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 1.125rem;
  border-radius: 10px;
}

.html {
  width: 30%;
}

.js {
  width: 10%;
}

.css {
  width: 30%;
}

p {
  line-height: 1.5rem;
}

/*Footer*/

footer {
  background-color: rgb(92, 241, 247);
  text-align: center;
  color: #333333;
}

.container_footer {
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: 20px;
  line-height: 40px;
}

.name {
  display: inline;
}

.box {
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.625rem;
  line-height: 1.563rem;
  width: 21.875rem;
  border-color: rgb(105, 105, 102);
  border-style: solid;
  border-width: 2px;
}

.box3 {
  height: 10rem;
}

button {
  background-color: rgb(247, 157, 73);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  color: azure;
}

#send {
  padding: 1rem 3rem;
}

#backToTop {
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}

.copyright {
  margin-top: 1.5rem;
}
